@import '../../Common/mixin.scss';

.wrapperDes {
	@include flexBlock(center, #ea08fa, 80%, auto);
	align-items: center;

	.wrapperDes-description {
		@include widHeiBack(40%, 250px, white);
		border-radius: 20px;
		text-align: center;

		h1 {
			@include text(rebeccapurple, auto, 800);
		}

		p {
			font-size: 20px;
		}
	}
}
