@import '../Common/mixin.scss';

.inputSort {
	@include flexBlock(flex-start, rebeccapurple, auto, 120px);
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	flex-wrap: wrap;

	h1 {
		text-shadow: 2px 2px 10px black;
		color: white;
		margin: 0 50px;
	}

	input {
		@include widHeiBack(200px, 30px, auto);
		@include border(0 50px, 15px, none, 20px);
	}

	input::placeholder {
		opacity: 0.8;
		padding-left: 10px;
		color: rebeccapurple;
	}

	input:focus::placeholder {
		transition: 1s;
		opacity: 0;
	}
}
