@import './Common/mixin.scss';

.wrapper {
  @include flexBlock(center, cornflowerblue, auto, 100vh);

  .wrapper-app {
    @include widHeiBack(65%, 700px, rebeccapurple);

    span {
      background-color: greenyellow;
    }

    border-radius: 20px;

    .wrapper-app_notes {
      @include widHeiBack(100%, auto, #efe6ff);
      display: flex;
    }
  }
}
