@import '../Common/mixin.scss';

.notes {
	@include flexBlock(center, #efe6ff, 30%, 580px);
	border-right: solid 1px rebeccapurple;
	flex-direction: column;

	.notes-button {
		width: 100%;
		text-align: center;
		margin: 5px 0;

		button {
			@include widHeiBack(70%, 50px, rebeccapurple);
			@include text(white, pointer, 800);
			@include border(auto, 15px, auto, 10px);
		}
	}

	.notes-note {
		@include widHeiBack(100%, 100%, auto);
		overflow: auto;
	}

	.notes-note::-webkit-scrollbar-thumb {
		@include border(auto, auto, none, 100px);
		background-image: linear-gradient(180deg, #ea08fa, cornflowerblue);
	}

	.notes-note::-webkit-scrollbar-track {
		border-radius: 100px;
		background-color: #bbbbbb;
	}

	.notes-note::-webkit-scrollbar {
		width: 16px;
	}
}
